<header>
    <h1>{{ title }}</h1>
    <h3>{{ name }}</h3>

    <div class="LinksHeader">
        <ul>
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li> <a href="/help">Help</a></li>
        </ul>
    </div>
    
</header>