<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img alt="image-Bharath" class="portrait" src="/img/bha.png" >
        </br>
        </br>
        <a href="https://github.com/bharath857" target=”_blank” >This is my GIT HUb Link</a>

    </div>
    
    {{>footer}}
</body>

</html>